html {
  box-sizing: border-box;
  font-weight:bold;
  font-size: 100%;
  line-height: 1.5;
  font-family: serif;
  position: relative;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
  page-break-inside: .75em,1em,.6em;
  align-self: flex-start;
}

ul a {
  color: #0074d9;
}



header {
  margin: .5rem;
  padding:1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: space-between;
  background-color: #e2e2e2;
}
