*, *::before, *::after {
  box-sizing: inherit;
  margin: auto;
}

body {
  font-weight: bold;
  margin: 0;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

header {
  padding-top: .75em;
  padding-bottom: 1em;
  padding-right: .6em;
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  background-color: #e2e2e2;
}

header p {
  text-align: center;
  font-weight: lighter;
}

header h1 {
  letter-spacing: 2px;
  font-size: 1.7rem;
}

header img {
  display: inline;
  position: fixed;
  left: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: lighter;
}

nav a, nav a:visited {
  font-size: 1rem;
  color: #0074d9;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  background-color: #0074d9;
  color: #fff;
}

li {
  margin-right: 30px;
}

img {
  width: 2rem;
  align-self: flex-start;
}
